:root {
  --primary-color: #CAEBF2;
  --secondary-color: #A9A9A9;
  --accent-color: #FF3B3F;
  --background-color: #EFEFEF;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #50676c;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  background: #d6d2d2;
  box-shadow: 0 4px 6px rgb(181, 155, 114); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
  box-shadow: 0 8px 12px rgb(181, 155, 114); 
  transform: translateY(-4px); 
}


.svg-inline--fa {
  color:#FF3B3F;
}

h1, h2,.card-text, .card-title {
  font-family:fantasy;
}

h1{
  font-size: 3.2em;
  color: rgb(181, 155, 114); 
  text-shadow: 1px 1px 2px rgb(181, 155, 114); 
}

h2 {
  margin-top: 20px;
  color: rgb(181, 155, 114); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color:  #d6d2d2;
  font-family: fantasy;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.modal-body img{
  margin-bottom: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); 
}

.modal-footer button {
background-color: #50676c;
color: #d6d2d2;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}

.modal-header {
  display: flex;
  justify-content: center;
}

.form-label {
  font-family:fantasy;
  color: rgb(181, 155, 114); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

#filterForm {
  font-family:fantasy;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
}

.card {
  display:flex;
  flex-wrap: wrap;
}