:root {
  --primary-color: #CAEBF2;
  --secondary-color: #A9A9A9;
  --accent-color: #FF3B3F;
  --background-color: #EFEFEF;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #CAEBF2;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.card {
  background: #EFEFEF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px); 
}


.svg-inline--fa {
  color:#FF3B3F;
}

h1, h2,.card-text, .card-title {
  font-family:fantasy;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-top: 20px;
}
